* {
    font-family: 'Montserrat', sans-serif;
    /* margin: 0;
    padding: 0; */
}


img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}


.contenedor {
    width: 100%;
    padding: 0 0;
    margin: auto;
    background: url('https://static.vecteezy.com/system/resources/previews/003/093/332/non_2x/seamless-background-coffee-beans-on-brown-color-vector.jpg');
    /* background-repeat: no-repeat; */
    background-size: contain;
    padding-bottom: 50px;
}

.contenedor h1 {
    text-align: center;
    /* font-size: 35px; */
    padding: 15px;
}

.title {
    text-align: center;
}

/*titulo del texto*/
h3 {
    text-align: center;

}

.contenido h4 {
    line-height: 35px;
}

h3 {
    line-height: 30px;
    font-weight: 900;
    margin-top: 5px;
}

.contenido {
    padding-left: 20px;
    padding-right: 20px;
}

.contendor-cafe {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 275px;
    overflow: hidden;
    padding: 0 45px 0 30px;
}

.contenedor-item {
    width: 28%;
    position: relative;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*trancicion de la imagen*/
.contenedor-text {
    transition: all 0.5s;
}


.contenedor-text {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    /*el texto sube a la imagen*/
    width: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    color: wheat;
    transform: translateY(5%);
    /*se va a mover verticalmente hacaia abajo de la imagen*/
    transition: all 0.7s ease-in-out;
    /*tiempo de duracion de la trancision*/
    display: flex;
    align-items: center;
    padding: 10px;
}

.derecha-contenedor-text {
    width: 30%;
}

/*nombre y precio de la imagen*/
.derecha-contenedor-text h3 {
    text-align: right;
    /* margin-top: 23px; */
    margin-right: 15px;
}

/*nombre y precio de la imagen*/
.izquierda-contenedor-text h2 {
    margin-left: 15px;
}

.izquierda-contenedor-text {
    width: 70%;
}

.contenedor-item:hover .contenedor-text{
    transform: translate(100%); /* transicion */
    transform: scale(1.05); /*transicion*/
}


/*movimiento de la imagen alejar y acercar*/
.contenedor-item:hover .contenedor-img {
    transform: scale(1.05);
    /*transicion*/
    transition: 0.5s;
}



.modal1 {
    transition: all 0.5s;
}

.modal1 {
    position: absolute;
    margin-top: -260px;
    width: 100%;
    height: 100%;
    transform: translatex(0%);
    /*se va a mover verticalmente hacaia abajo de la imagen*/
    transition: all 0.7s ease-in-out;
    /*tiempo de duracion de la trancision*/
    opacity: 0;
    border-radius: 10px;
}

.contenedor-item:hover .modal1 {
    transform: translatex(102.5%);
    /*transicion*/
    z-index: 1;
    opacity: 100%;
}

.contenedor-descripcion1 {
    color: white;
    width: 100%;
    height: 100%;
    background: #543217;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.contenedor-descripcion1 header {
    font-size: 20px;
    padding: 5px;
    background: #c0904b;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
}



.modal2 {
    transition: all 0.5s;
}

.modal2 {
    position: absolute;
    margin-top: -260px;
    width: 100%;
    height: 100%;
    transform: translatex(0%);
    /*se va a mover verticalmente hacaia abajo de la imagen*/
    transition: all 0.7s ease-in-out;
    /*tiempo de duracion de la trancision*/
    opacity: 0;
    border-radius: 10px;
}

.contenedor-item:hover .modal2 {
    transform: translatex(102.5%);
    /*transicion*/
    z-index: 1;
    opacity: 100%;
}

.contenedor-descripcion2 {
    color: white;
    width: 100%;
    height: 100%;
    background: #543217;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.contenedor-descripcion2 header {
    font-size: 20px;
    padding: 5px;
    background: #c0904b;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
}

.modal3 {
    transition: all 0.5s;
}

h2 {
    font-size: 20px;
}

.modal3 {
    position: absolute;
    margin-top: -260px;
    width: 100%;
    height: 100%;
    transform: translatex(0%);
    /*se va a mover verticalmente hacaia abajo de la imagen*/
    transition: all 0.7s ease-in-out;
    /*tiempo de duracion de la trancision*/
    opacity: 0;
    border-radius: 10px;
}

.contenedor-item:hover .modal3 {
    transform: translatex(102.5%);
    /*transicion*/
    z-index: 1;
    opacity: 100%;
}

.contenedor-descripcion3 {
    color: white;
    width: 100%;
    height: 100%;
    background: #543217;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.contenedor-descripcion3 header {
    font-size: 20px;
    padding: 5px;
    background: #c0904b;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
}

.modal4 {
    transition: all 0.5s;
}

.modal4 {
    position: absolute;
    margin-top: -260px;
    width: 100%;
    height: 100%;
    right: 300px;
    transform: translatex(102.5%);
    /*se va a mover verticalmente hacaia abajo de la imagen*/
    transition: all 0.7s ease-in-out;
    /*tiempo de duracion de la trancision*/
    opacity: 0;
    border-radius: 10px;
}

.contenedor-item:hover .modal4 {
    transform: translatex(0%);
    /*transicion*/
    z-index: 1;
    opacity: 100%;
}

.contenedor-descripcion4 {
    color: white;
    width: 100%;
    height: 100%;
    background: #543217;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.contenedor-descripcion4 header {
    font-size: 20px;
    padding: 5px;
    background: #c0904b;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
}


/*Boton comprar*/
button {
    color: white;
    text-align: center;
    background-color: #c0904b;
    border: 0;
    width: 150px;
    font-size: 15px;
    border-radius: 15px;
    height: 30px;
    cursor: pointer;

    margin: 0 auto;
    position: absolute;
    transform: translate(50px);
}

button:hover {
    box-shadow: 0 0 10px white;
    background-color: #543217;
    border: solid 3px;
    border-color: #c0904b;
}