<div class="contenedor">
  <h1
    class="font-bold text-blanco text-7xl my-7 pt-5 bg-gradient-to-r from-chocolate3 to-chocolate2"
  >
    Postres
  </h1>
  <!-- items container -->
  <div class="contendor-cafe">
    <!-- item -->
    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre1.webp"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Cake Chocolate</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$21.00</h3>
        </div>
      </div>
      <div class="modal1">
        <div class="contenedor-descripcion1">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Cake Chocolate</h3>
            <h4>$21.00</h4>
            <p>
              Delicada genovesa rica en chocolate con mousse de chocolate,
              bañada con ganache.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre2.png"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tiramizú</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$17.95</h3>
        </div>
      </div>
      <div class="modal2">
        <div class="contenedor-descripcion2">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tiramizú</h3>
            <h4>$17.95</h4>
            <p>
              Queso crema aromatizado con café y trocitos de chocolate, decorado
              con polvo de cacao.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre3.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tres Leches</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$5.00</h3>
        </div>
      </div>
      <div class="modal3">
        <div class="contenedor-descripcion3">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tres Leches</h3>
            <h4>$5.00</h4>
            <p>
              Bizcocho bañado con tres tipos de leche: leche evaporada, crema de
              leche y leche condensada,
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre4.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Chimborazo</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal4">
        <div class="contenedor-descripcion4">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Chimborazo</h3>
            <h4>$19.99</h4>
            <p>
              Genovesas de vainilla y chocolate rellenas con ganache y cubiertas
              con chocolate semiamargo.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Postres segunda Fila -->

  <div class="contendor-cafe">
    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre5.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Cheescake</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal1">
        <div class="contenedor-descripcion1">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Cheescake</h3>
            <h4>$19.99</h4>
            <p>
              Delicada genovesa rica en chocolate con mousse de chocolate,
              bañada con ganache.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre6.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Brazo Gitano</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal2">
        <div class="contenedor-descripcion2">
          <header>Brazo Gitano</header>
          <div class="contenido">
            <h3>Brazo Gitano</h3>
            <h4>$19.99</h4>
            <p>
              queso crema aromatizado con café y trocitos de chocolate, decorado
              con polvo de cacao.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre7.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tarta Frambuesa</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal3">
        <div class="contenedor-descripcion3">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tartaleta de Frambuesa</h3>
            <h4>$19.99</h4>
            <p>
              Bizcocho bañado con tres tipos de leche: leche evaporada, crema de
              leche y leche condensada,
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/tarta limon.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tarta Limón</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal4">
        <div class="contenedor-descripcion4">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tartaleta de Limón</h3>
            <h4>$19.99</h4>
            <p>
              Genovesas de vainilla y chocolate rellenas con ganache y cubiertas
              con chocolate semiamargo.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Postres tercera Fila -->

  <div class="contendor-cafe">
    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/postre9.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Cake Naranja</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal1">
        <div class="contenedor-descripcion1">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Cake Naranja</h3>
            <h4>$19.99</h4>
            <p>
              Delicada genovesa rica en chocolate con mousse de chocolate,
              bañada con ganache.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/Cheesecake de maracuyá.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Cheescake maracuyá</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal2">
        <div class="contenedor-descripcion2">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Cheesecake de maracuyá</h3>
            <h4>$19.99</h4>
            <p>
              queso crema aromatizado con café y trocitos de chocolate, decorado
              con polvo de cacao.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/tira de frutilla.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tira de Frutilla</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal3">
        <div class="contenedor-descripcion3">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tira de Frutilla</h3>
            <h4>$19.99</h4>
            <p>
              Bizcocho bañado con tres tipos de leche: leche evaporada, crema de
              leche y leche condensada,
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/volovan de pollo.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Volován de Pollo</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal4">
        <div class="contenedor-descripcion4">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Volován de Pollo</h3>
            <h4>$19.99</h4>
            <p>
              Genovesas de vainilla y chocolate rellenas con ganache y cubiertas
              con chocolate semiamargo.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Postres cuarta Fila -->

  <div class="contendor-cafe">
    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/tira de piña.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tira de Piña</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal1">
        <div class="contenedor-descripcion1">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tira de Piña</h3>
            <h4>$19.99</h4>
            <p>
              Delicada genovesa rica en chocolate con mousse de chocolate,
              bañada con ganache.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/tarta requeson.png"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Tarta Requezón</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal2">
        <div class="contenedor-descripcion2">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Tarta Requezón</h3>
            <h4>$19.99</h4>
            <p>
              queso crema aromatizado con café y trocitos de chocolate, decorado
              con polvo de cacao.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/selva negra.jpg"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Selva Negra</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal3">
        <div class="contenedor-descripcion3">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Selva Negra</h3>
            <h4>$19.99</h4>
            <p>
              Bizcocho bañado con tres tipos de leche: leche evaporada, crema de
              leche y leche condensada,
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor-item">
      <img
        src="../../../../assets/img/postres/panna cotta.webp"
        alt=""
        class="contenedor-img"
      />
      <div class="contenedor-text">
        <div class="izquierda-contenedor-text">
          <h2 class="title">Panna Cotta</h2>
        </div>
        <div class="derecha-contenedor-text">
          <h3 class="title">$19.99</h3>
        </div>
      </div>
      <div class="modal4">
        <div class="contenedor-descripcion4">
          <header>Descripción</header>
          <div class="contenido">
            <h3>Panna Cotta</h3>
            <h4>$19.99</h4>
            <p>
              Genovesas de vainilla y chocolate rellenas con ganache y cubiertas
              con chocolate semiamargo.
            </p>
            <button>Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
